body {
  margin: 0;
  background-color: rgb(188, 233, 247);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.interactive-map{
  width: 100vw;
  stroke: rgb(150, 150, 150);
  fill: rgb(247, 246, 188)
}
.hover{
  fill: rgb(198, 245, 155);
}